body.home{

  background-image: url(image-path('bg-age-gate.jpg'));
  background-color: #000004;
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;

  .header{
    display: block;
    width: 291px;
    height: 90px;
    margin: 30px auto;
    margin-bottom: 40px;
  }

  label{
    font-size: 23px;
    text-align: center;
  }

  .formedad{ margin-bottom: 40px;}

  footer{
    bottom: 10px;

    a{
      padding: 0;
      text-decoration: underline;
      font-weight: bold;

    }
  }


} //.home